{% extends "app/layout.html" %}

{% block content %}
<div class="welcome-section">
    <h2>{{ title }}.</h2>
    <h3>{{ message }}</h3>
    <h4>
        Добро пожаловать, добро пожаловать на сайт <b>Кибер!</b> Сами вы выбрали его или его выбрали за вас, это лучший IT форум из оставшихся.
        Я такого высокого мнения о Кибер, что решил разместить свою речь здесь, на главной, столь заботливо предоставленной нашими Покровителями.
        Я горжусь тем, что называю кибер своим форумом.
    </h4>
</div>
{% endblock %}

